.header-navbar-container {
    display: flex;
    background-color:darkolivegreen;
  }
  
  .header-navbar-item {
    margin: 10px;
    padding: 10px;
  
    font-size: 1.75rem; 
    text-align: center;
    text-decoration: none;
    background-color:bisque;
    border-radius: 10px;
  
    box-shadow: 5px 5px 5px black; 
    transition-duration: 0.25s;
  }
  
  .header-navbar-item:hover {
    text-decoration: none;
    background-color:mediumslateblue;
    color: white;
  }

  .page-title {
    font-size: 3rem;
    text-align: center;
}

.entries { 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
} 

.entry {
  width: 46%;
  font-size: 1.75rem; 
  text-align: center;
  background-color:mediumslateblue;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px black; 
} 

.entry h3 {
  margin: 0px;
}

.entry-description {
  font-size: 1.25rem;
}

.snippet-container {
  background-color: antiquewhite;
}

.snippet-container textarea {
  width: 98%;
  height: 120px;
}
