.header-navbar-container {
    display: flex;
    background-color:darkolivegreen;
  }
  
  .header-navbar-item {
    margin: 10px;
    padding: 10px;
  
    font-size: 1.75rem; 
    text-align: center;
    text-decoration: none;
    background-color:bisque;
    border-radius: 10px;
  
    box-shadow: 5px 5px 5px black; 
    transition-duration: 0.25s;
  }
  
  .header-navbar-item:hover {
    text-decoration: none;
    background-color:mediumslateblue;
    color: white;
  }